@charset "utf-8";

body{
	font-family: Calibri, Helvetica, Verdana, sans-serif;
	font-size: 18px;
	margin: 0 auto;
	color: black;
	max-width: 1240px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	background-color: #DCDCDC;
}



header{
	background-image: url(../imagens/fundopb.jpg) ;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;	
	opacity: 0.8;
	filter: alpha(opacity=90);
	/*background-color: #4682B4;*/
}

header {
	height: 100px;
}

header .logo{
	width: 193px;
	height: 410x;
	float: left;
	margin-bottom: 140px;
}

header, footer, aside, nav{
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
}

header h1 {
	/*background-image: url(../imagens/logo.png);*/
	width: 150px;
	height: 80px;
	text-indent: -10000px;
	margin-top: 20px;
	margin-left: 10px;
}

header, footer {
	padding: 10px;
	flex-basis: 100%;
}



#menu{
	list-style-type: none;
	
	font-style:

}

#menu li{
	display: inline;
	margin:0;
	font-size: 25px;		
}

#menu li a{
	text-decoration: none;
	margin-left: 4%;
	color: #000080;
}

#menu li a:hover{
	color: red;
}



main h1{
	color: #17307D;
	text-align: center;
}

.itens{
	margin-left: 15px;
	margin-bottom: 20px;
}

.it{
	display: inline;
}

.of1,.of2,.of3,.of4,.of5,.of6,.of7,.of8,.of9,.of10,.of11,.of12{
	margin-left: 18px;
	margin-top: 20px;
	width: 228px;
	height: 228px;
	border-radius: 5px;
	border: dashed 1px grey;
}


	
nav ul a li{
	margin-left: -28.5%;
	text-align: center;
	width: 135.5%;
	background-color: #C21228;
	list-style-type: none;
	word-spacing: 2px;
}

nav a{
	text-decoration: none;
}


/* #17307D */
	



nav, aside{
	background-color: #C21228;
	flex: 12%;
	color: white;
}

nav ul  {
	margin-left: -5%;
	color: gray;
}

nav  li a:hover , nav li:hover{
	background-color: #FFFFFF;
	color: #C21228;
}



.caminhao{
	width: 170px;
	margin-top: 50px;
	margin-left: 0%;
	
}



a{
	color: #FFFFFF;
}

h3{
	margin-left: 25px;
}

main {
	background-color: white;
	flex: 63%;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

p{
	color: black;
	font-size: 20px;
}


.rede{
	margin-left: 300px;
	border: solid 1px black;
}

#txt-rede{
	text-align: left;
	margin-left: 25px;
	margin-right: 25px;
}

.cartao{
	margin-left: 200px;	
	border: solid 1px black; 
	margin-left: 200px;
	margin-bottom: 30px;
}

.titulo{
	margin-bottom: 50px;
	color: #C21228;
}

.map2{
	float: right;
	border: solid 1px gray;
	filter: grayscale(100%);
}

.map2:hover {
	filter: none;
}

.end1{
	margin-bottom: 10px;
	color: black;
	font-size: 15px;
}


fieldset{
	width: 700px;
	margin-left: 30px;
	margin-bottom: 40px;
	border: dashed 1px black;
}

footer{
	background-color: snow;
	display: inline; /*#17307D*/
	height: 100px;
}

.logofooter{
	width: 193px;
	height: 410x;
	float: left;
	margin-top: -11%;
}



.moqpeixe{
	width: 300px;
	height: 300px;
	margin-left: 450px;
	margin-top: -5%;
	border: dashed 1px #000;
	border-radius: 5%;
}
.ps{
	margin-left: 3%;
	margin-right: 3%;
}
.subtitulo{
	color: #C21228;
	margin-left: 25px;
	margin-top: 30px;

}
.ps1{
	margin-top: 10%;
	margin-left: 3%;
	margin-bottom: 10%;
}
.mod1{
	margin-top: 18%;
	color: #17307D;
	text-align: center;
}
.ing1{
	margin-top: -35%;
	margin-left: 3%;
	margin-right: 5%;
}

.mod2{
	margin-left: 25px;
	margin-right: 25px;
}

#dst1, #dst2{
	width: 140px;
	height: 140px;
	margin-left: 8px;
	border: dashed 1px #000;
	border-radius: 5%;
}

.dsk1{
	font-style: bold;
	text-align: center;
	margin-left: -5px;
	margin-top: 70px;
}

.linkd1{
	text-align: center;
	margin-left: 40px;
}

.ing2{
	margin-top: -250px;
}

.active {
	color: #C21228;
}

h4 { 
	margin-left: 50px;
	margin-top: 30px;

}