@charset "utf-8";

body{
	font-family: Calibri, Helvetica, Verdana, sans-serif;
	font-size: 1em;
	margin: 0 auto;
	color: black;
	box-sizing: border-box;
	background-color: #DCDCDC;
	width: 100%;
	height: 100%;
}
.itens {
    width: 100%;
   display: block;
}
.it{
	display: inline;
	height: 15%;
}
.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}
main {
	display: block;
	justify-content: center;
	text-align: center;
	background-color: white;
	flex: 5;
	height: 100%;

}
nav, aside{
	background-color: #C21228;
	flex: 1;
	color: white;
}
aside{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;

}


header{
	background-image: url(../imagens/fundopb.jpg) ;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;	
	opacity: 0.8;
	filter: alpha(opacity=90);
	/*background-color: #4682B4;*/
	display: flex;
	align-content: center;
	text-align: center;
	text-align: center;
	align-self: auto;
	width: 100%;
}


.some{
	display: none;
}

footer {
	width: 100%;
}

header .logo{
	width: 15%;
	max-width: 100%;
	float: left;
}

header, footer, aside, nav, main{
	margin: 0.5%;
	border-radius: 5px;
}

header h1 {
	/*background-image: url(../imagens/logo.png);*/
	width: 150px;
	height: 80px;
	text-indent: -10000px;
	margin-top: 20px;
	margin-left: 10px;
}

#menu {
	list-style-type: none;
	width: 100%;
	display: flex;
	text-align: center;
	justify-items: center;
	justify-content: center;
	}
strong{
	margin: 0%;
	padding: 0%;
}
#menu li{
	margin: 0 2%;
	text-align: center;
	font-size: 1.2em;
	display: flex;
	justify-items: center;
}

#menu li a{
	padding: 0%;
	margin: 0%;
	text-decoration: none;
	color: #000080;
}

#menu li a:hover{
	color: red;
}



main h1{
	color: #17307D;
	text-align: center;
}


.of1, .of2, .of3, .of4, .of5, .of6, .of7, .of8, .of9, .of10, .of11, .of12 {
    display: inline;
    width: 15%;
    margin: 4%;
    border-radius: 5px;
    border: dashed 1px grey;
}

/* #17307D */

ul{
	width: 100%;
	padding: 0%;
}

nav ul  {
	text-align: center;
}

nav li{
	list-style-type: none;
	margin: 5% 0;
	width: 100%;
}

nav ul li a{
	list-style-type: none;	
	display: block;
	text-decoration: none;
	background-color: #C21228;
	padding: 1px;
}

nav ul  li a:hover {
	background-color: #ff4040;	
}



.caminhao{
	margin: 0 auto;
	width: 90%;
	border: solid 1px black;
}

a{
	display: flex;
	justify-items: center;
	justify-content: center;
	padding: 0%;
	margin: 0%;
	color: #FFFFFF;
	text-align: center;
}
nav#princ{
	flex: 1;
	text-align: center;
	flex-direction: column;
	
}



p{
	color: black;
	font-size: 1.3em;
}


.rede{
	margin-left: 150px;
	border: solid 1px black;
}

.txt-rede{
	text-align: left;
	margin-left: 25px;
	margin-right: 25px;
}

.cartao{
	margin-left: 150px;	
	border: solid 1px black; 
	margin-bottom: 30px;
}

.titulo{
	margin-bottom: 50px;
	color: #C21228;
}

.map2{
	float: right;
	border: solid 1px gray;
	filter: grayscale(100%);
}

.map2:hover {
	filter: none;
}

.end1{
	margin-bottom: 10px;
	color: black;
	font-size: 1.1em;
}


fieldset{
	width: 70%;
	margin: 20px auto;
	border: dashed 1px black;
}

footer{
	display: flex;
	background-color: snow;
	display: inline;
}

.logofooter{
	display: block;
	width: 15%;
	float: left;
}



.moqpeixe{
	width: 300px;
	height: 300px;
	margin-left: 450px;
	margin-top: -5%;
	border: dashed 1px #000;
	border-radius: 5%;
}
.ps{
	margin-left: 3%;
	margin-right: 3%;
}
.subtitulo{
	color: #C21228;
	margin-left: 25px;
	margin-top: 30px;

}
.ps1{
	margin-top: 10%;
	margin-left: 3%;
	margin-bottom: 10%;
}
.mod1{
	margin-top: 18%;
	color: #17307D;
	text-align: center;
}
.ing1{
	margin-top: -35%;
	margin-left: 3%;
	margin-right: 5%;
}

.mod2{
	margin-left: 25px;
	margin-right: 25px;
}

#dst1, #dst2{
	width: 80%;
	height: 140px;

	border: dashed 1px #000;
	border-radius: 5%;
}

.dsk1{
	text-align: center;
}

.linkd1{
	text-align: center;
}

.ing2{
	margin-top: -250px;
}

.active {
	color: #C21228;
}

h4 { 
	margin-left: 50px;
	margin-top: 30px;

<<<<<<< HEAD
}


=======
>>>>>>> parent of 82242cc... zom
}