
@media screen and (min-width: 300px) and (max-width: 700px){
	body{
	display: block;
			
	}
	body *, main{
		margin: 0 auto;
		width: 80%;
	}
	aside, main, nav {
		margin: 1% auto;
    }
    nav {
        display: none;
    }


}